body {
  background-image: url("https://images.unsplash.com/photo-1695732988782-8fa0d2af0f76?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  transition: background 0.5s ease-in-out;
}

.sidebar {
  background-color: #281e16bd;
  height: 100%;
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}

.round-btn {
  background-color: #fdcb02;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

.title {
  font-family: "Anybody", serif;
  position: absolute;
  top: 4%;
  right: 5%;
  font-size: 3.5rem;
  text-align: right;
  font-weight: bold;
  text-shadow: #2a1e14;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  z-index: 6;
  line-height: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #2a1e14;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

footer a {
  color: white;
  text-decoration: none;
}

#edito {
  position: fixed;
  top: 0;
  left: 170px;
  width: calc(100% - 150px);
  height: 100%;
  background-color: #281e163c;
  display: flex;
  align-items: center;
  transition: top 0.5s ease;
  z-index: 2;
}

#edito-content {
  background-color: #fdcb02;
  padding: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: 120px;
  margin-left: 30px;
  max-width: 90%;
  line-height: 1.3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

#edito-content h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#edito-content p {
  font-size: 1rem;
  margin: 10px 0;
}


#edito-close-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #fdcb02;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-size: 16px;
}

.chapter-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 86px;
  margin: 10px 0;
  cursor: pointer;
}

.chapter-container .rect-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background-color: #fdcb02;
  border-radius: 100px;
  transition: width 0.3s ease;
  z-index: -1;
}

.chapter-container:hover .rect-bg {
  width: 700px;
}

.circle-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

.chapter1-container .circle-img {
  border: 3px solid #6a7920;
}

.chapter2-container .circle-img {
  border: 3px solid #6189a4;
}

.chapter3-container .circle-img {
  border: 3px solid #8a151b;
}

.chapter-title {
  position: absolute;
  left: 100%;
  width: 80px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  padding-left: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.chapter-container:hover .chapter-title {
  opacity: 1;
  width: 330px;
}

.chapter1-container .rect-bg {
  background-color: #6a7920;
}

.chapter2-container .rect-bg {
  background-color: #6189a4;
}

.chapter3-container .rect-bg {
  background-color: #8a151b;
}

.chapter-section {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: calc(100% - 120px);
  background-color: #515c2bd7;
  transition: left 0.5s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 2;
}

.chapter-section.show {
  left: 170px;
}

.chapter-section .chapter-text {
  width: 30%;
  padding-right: 10px;
}

.chapter-section h2 {
  font-family: "Anybody", serif;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.chapter-section p {
  font-size: 1rem;
  line-height: 1.6;
}

.chapter-section .chapter-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 50%;
  margin: 20px;
  margin-top: 100px;
  align-items: center;
}

.chapter-cards .card {
  background-color: #ffffff;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#chapter3 .chapter-cards .card:nth-child(3) {
  grid-column: span 2;
  justify-self: center;
}

.card {
  display: block;
  text-decoration: none;
  color: inherit;
}

.chapter-cards img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.chapter-cards p {
  margin: 15px 0;
  color: black;
  font-weight: bold;
}

.close-chapter {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ece6db;
  color: black;
  border: none;
  font-size: 20px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
  transition: background-color 0.3s ease;
}

.close-chapter:hover {
  background-color: #fdcb02;
}
