:root {
  --orange: #fb6500;
  --dark-red: #8a151b;
  --green: #68994f;
  --yellow: #dabb2b;
  --dark-blue: #1b3d6b;
  --light-yellow: #e1be3c;
  --white: #ece6db;
}

p {
  font-family: "Montserrat", sans-serif; /* Police Montserrat */
  font-weight: 400;
  font-size: 20px;
}

h1 {
  font-family: "Anybody", sans-serif; /* Police spécifiée */
  font-weight: 900; /* Black correspond souvent à font-weight 900 */
  font-size: 48px; /* Taille spécifiée */
  color: #ffffff; /* Noir */
  letter-spacing: 0; /* L'espacement des lettres semble standard */
  line-height: auto; /* Ajustement automatique de la hauteur des lignes */
  margin: 0; /* Supprime les marges par défaut */
  padding: 0; /* Supprime les paddings par défaut */
}

.icon {
  font-size: 30px; /* Augmente la taille de l'icône */
  color: rgba(
    0,
    0,
    0,
    0.3
  ); /* Couleur noire avec une opacité de 70% (gris foncé) */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Animation au survol */
}

.icon:hover {
  transform: scale(1.1); /* Agrandit légèrement l'icône au survol */
  opacity: 0.9; /* Rendu légèrement plus visible au survol */
}

a {
  text-decoration: none;
}

/* FOOTER */
/* Footer */
.footer {
  background-color: #333;
  color: #ccc;
  padding: 1rem;
  width: 100%;
  height: 10vh;
}

.footer-links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}

.footer-links span {
  color: #ccc;
}
