{% extends "base-admin.twig.html" %} {% block content %}

<h1>Les Chapitres</h1>
<img src="upload/{{chapitre.image}}" alt="{{chapitre.alt}}" />
<p>Type : {{ chapitre.titre }}</p>
<p>Chapo : {{ chapitre.chapo }}</p>
<p>style : {{ chapitre.auteur }}</p>

<a href="admin.php?page=chapitre&action=modifier&id={{ chapitre.id_chapitre }}"
  >Modifier</a
>
<a href="admin.php?page=chapitre&action=delete&id={{ chapitre.id_chapitre }}"
  >Supprimer</a
>
<a href="admin.php?page=chapitre&action=read">Retour à la liste</a>

{% for article in listearticle %}
<h2>{{article.titre}}</h2>
<p>
  <a href="admin.php?page=article&action=read&id={{ article.id_article }}"
    >Voir</a
  >
  <a href="admin.php?page=article&action=modifier&id={{ article.id_article }}"
    >Modifier</a
  >
  <a href="admin.php?page=article&action=delete&id={{ article.id_article }}"
    >Supprimer</a
  >
</p>
{% endfor %} {% endblock %}
