{% extends "base-admin.twig.html" %} {% block content %}

<form action="admin.php?page=chapitre&action=update" method="post" enctype="multipart/form-data"
  class="row g-4 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="id_chapitre" class="form-label mt-4">id :</label>
    <input type="text" name="id_chapitre" placeholder="Id" value="{{chapitre.id_chapitre}}"
      class="form-control w-75 ms-5 border-black" />
  </div>
  <div class="col-md-4">
    <label for="titre" class="form-label mt-4">Titre :</label>
    <input type="text" name="titre" placeholder="Titre" value="{{chapitre.titre | raw}}"
      class="form-control w-75 ms-5 border-black" />
  </div>
  <div class="col-md-4">
    <label for="chapo" class="form-label mt-4">Chapô : </label>
    <textarea name="chapo" placeholder="Saisir le texte" class="form-control w-75 ms-5 border-black" rows="4">
{{ chapitre.chapo | raw}}</textarea>
  </div>

  <div class="col-md-4">
    <label for="image" class="form-label mt-4">Télécharger une image :</label>
    <!-- Aperçu de l'image actuelle -->
    {% if chapitre.image %}
    <div class="mb-3">
      <img src="upload/{{ chapitre.image }}" alt="Image actuelle" accept="images/*" class="img-thumbnail"
        style="max-width: 150px; height: auto" />
    </div>
    {% endif %}

    <!-- Champ pour uploader une nouvelle image -->
    <input type="file" name="image" accept="images/*" class="form-control w-75 ms-5 border-black" />

    <!-- Champ caché pour conserver l'image existante -->
    <input type="hidden" name="old-image" value="{{ chapitre.image }}" />
  </div>

  <div class="col-md-4">
    <label for="alt" class="form-label mt-4">Description de l'image : </label>
    <input type="text" name="alt" placeholder="description de l'image (si type = image)"
      class="form-control w-75 ms-5 border-black" value="{{chapitre.alt}}" />
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" class="submit border-light-subtle p-2 rounded-2 bg-secondary-subtle w-25 mt-2">
      Modifier
    </button>
  </div>
</form>

{% endblock %}