{% extends "base-admin.twig.html" %} {% block content %}

<h1 class="text-center p-5">Créaton d'un bloc</h1>
<form action="admin.php?page=bloc&action=create" method="post" class="row g-4 needs-validation" novalidate>
    {# type #}
    <div class="col-md-4">
        <label for="type" class="form-label mt-4">Type de bloc :</label>
        <input type="hidden" name="type" placeholder="Quel type ?" value="{{id}}"
            class="form-control w-75 ms-5 border-black" />
    </div>

    {# texte #}
    <div class="col-md-4">
        <label for="texte_citation" class="form-label mt-4">Citation :</label>
        <input type="text" name="texte_citation" placeholder="Saisir le texte" class="form-control w-75 ms-5 border-black" />
    </div>

    {# texte #}
    <div class="col-md-4">
        <label for="texte" class="form-label mt-4">Texte :</label>
        <input type="text" name="texte" placeholder="Saisir le texte" class="form-control w-75 ms-5 border-black" />
    </div>

    {# style #}
    <div class="col-md-4">
        <label for="style" class="form-label mt-4">Style :</label>
        <select id="style" name="style" class="form-select w-75 ms-5 border-black" aria-label="Default select example">
            <option value="corp_de_texte" selected>Corps de texte</option>
            <option value="chapo">Chapô</option>
            <option value="encadre">Encadré</option>
            <option value="exergue_l">Exergue long</option>
            <option value="exergue_c">Exergue court</option>
            <option value="legende">Légende</option>
            <option value="credit_p">credit photo</option>
            <option value="credir_a">credit article</option>
        </select>
    </div>

    {# article #}
    <div class="col-md-4">
        <label for="id_article" class="form-label mt-4">Article :</label>
        <input type="text" name="id_article" required="required" placeholder="Dans quel article apparait-il ?"
            class="form-control w-75 ms-5 border-black" />
    </div>

    {# bouton #}
    <div class="d-flex justify-content-center">
        <button type="submit" class="submit border-light-subtle p-2 rounded-2 bg-secondary-subtle w-25 mt-2">
            Créer
        </button>
    </div>
</form>

{% endblock %}