{% extends "base-admin.twig.html" %} 
{% block content %}

<h1 class="text-center py-4">Création d'un bloc</h1>
<div class="container">
    <form action="admin.php?page=bloc&action=create" method="post" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
        <!-- Type -->
        <input type="hidden" name="type" value="{{ id }}" />

        <!-- Image -->
        <div class="col-md-6">
            <label for="image" class="form-label">Image :</label>
            <input type="hidden" name="MAX_FILE_SIZE" value="1572864" />
            <input type="file" name="image" id="image" accept="image/*" class="form-control" />
            <small class="text-muted">Taille maximale : 1,5 Mo</small>
        </div>

        <!-- Texte légende -->
        <div class="col-md-6">
            <label for="texte_legende" class="form-label">Légende de l'image :</label>
            <input type="text" name="texte_legende" id="texte_legende" placeholder="Saisir le texte" class="form-control" />
        </div>

        <!-- Texte citation -->
        <div class="col-md-6">
            <label for="texte_citation" class="form-label">Citation :</label>
            <input type="text" name="texte_citation" id="texte_citation" placeholder="Saisir la citation" class="form-control" />
        </div>


        <!-- Alt (Description de l'image) -->
        <div class="col-md-6">
            <label for="alt" class="form-label">Description de l'image :</label>
            <input type="text" name="alt" id="alt" placeholder="Description de l'image (si type = image)" class="form-control" />
        </div>

        <!-- Article : Pré-sélection automatique -->
        <div class="col-md-6">
            <label for="id_article" class="form-label">Article :</label>
            <select name="id_article" id="id_article" class="form-select" required>
                <option value="" disabled selected>Choisir un article</option>
                {% for article in listearticle %}
                    <option value="{{ article.id_article }}" {% if article.id_article == id_article_selectionne %}selected{% endif %}>
                        {{ article.titre }}
                    </option>
                {% endfor %}
            </select>
        </div>


        {# Crédit de l'image #}
        <div class="col-md-6">
            <label for="texte_credit" class="form-label fw-bold text-secondary">Crédit :</label>
            <input type="text" name="texte_credit" placeholder="Saisir le crédit" class="form-control border-secondary" />
        </div>

        <!-- Bouton de soumission -->
        <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary px-4 py-2">Créer</button>
        </div>
    </form>
</div>

{% endblock %}
