{% extends "base-admin.twig.html" %} {% block content %}

<h1 class="text-center p-5">Créaton d'un bloc</h1>
<form action="admin.php?page=bloc&action=create" method="post" class="row g-4 needs-validation" novalidate>
    {# type #}
    <div class="col-md-4">
        <input type="hidden" name="type" placeholder="Quel type ?" value="{{id}}"
            class="form-control w-75 ms-5 border-black" />
    </div>


    {# image #}
    <div class="col-md-4">
        <label for="image">image :<span>(max 200 Ko)</span></label>
        <input type="hidden" name="MAX_FILE_SIZE" value="200000" title="la taille max du fichier" autocomplete="off" />
        <input type="file" id="image" name="image" class="image" title="votre image" autocomplete="off" />
    </div>


    {# texte #}
    <div class="col-md-4">
        <label for="texte_legende" class="form-label mt-4">Légende de l'image :</label>
        <input type="text" name="texte_legende" placeholder="Saisir le texte" class="form-control w-75 ms-5 border-black" />
    </div>

    {# texte #}
    <div class="col-md-4">
        <label for="texte_citation" class="form-label mt-4">Citation:</label>
        <input type="text" name="texte_citation" placeholder="Saisir le texte" class="form-control w-75 ms-5 border-black" />
    </div>


    {# infographie #}
    <div class="col-md-4">
        <label for="video">video :<span>(max 5 Mo)</span></label>
        <input type="hidden" name="MAX_FILE_SIZE" value="5000000" title="la taille max du fichier"
            autocomplete="off" />
        <input type="file" id="video" name="audio" class="video" title="votre video" autocomplete="off" />
    </div>


    {# alt #}
    <div class="col-md-4">
        <label for="alt" class="form-label mt-4">Description de l'image : </label>
        <input type="text" name="alt" placeholder="description de l'image (si type = image)"
            class="form-control w-75 ms-5 border-black" />
    </div>

    {# article #}
    <div class="col-md-4">
        <label for="id_article" class="form-label mt-4">Article :</label>
        <input type="text" name="id_article" required="required" placeholder="Dans quel article apparait-il ?"
            class="form-control w-75 ms-5 border-black" />
    </div>

    {# bouton #}
    <div class="d-flex justify-content-center">
        <button type="submit" class="submit border-light-subtle p-2 rounded-2 bg-secondary-subtle w-25 mt-2">
            Créer
        </button>
    </div>
</form>

{% endblock %}