{% extends "base-admin.twig.html" %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-5 text-primary">Création d'un bloc</h1>

    <form action="admin.php?page=bloc&action=create" method="post" enctype="multipart/form-data"
    class="row g-4 needs-validation" novalidate>
        {# Type de bloc #}
        <div class="col-md-12">
            <input type="hidden" name="type" value="{{ id }}" />
        </div>

        {# Texte #}
        <div class="col-md-6">
            <label for="texte" class="form-label fw-bold text-secondary">Texte :</label>
            <textarea name="texte" placeholder="Saisir le texte" rows="4" 
                      class="form-control border-secondary"></textarea>
        </div>

        {# Style #}
        <div class="col-md-6">
            <label for="style" class="form-label fw-bold text-secondary">Style :</label>
            <select name="style" id="style" class="form-select border-secondary">
                <option value="corp_de_texte" selected>Corps de texte</option>
                <option value="chapo">Chapô</option>
                <option value="encadre">Encadré</option>
                <option value="exergue_l">Exergue long</option>
                <option value="exergue_c">Exergue court</option>
                <option value="legende">Légende</option>
                <option value="credit_p">Crédit photo</option>
                <option value="credit_a">Crédit article</option>
            </select>
        </div>

        {# Article : Pré-sélection automatique #}
        <div class="col-md-6">
            <label for="id_article" class="form-label fw-bold text-secondary">Article :</label>
            <select name="id_article" id="id_article" class="form-select border-secondary" required>
                <option value="" disabled>Choisir un article</option>
                {% for article in listearticle %}
                    <option value="{{ article.id_article }}" 
                        {% if article.id_article == id_article_selectionne %}selected{% endif %}>
                        {{ article.titre }}
                    </option>
                {% endfor %}
            </select>
        </div>

        {# Bouton de validation #}
        <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-success px-5 py-2">
                <i class="fa-solid fa-check"></i> Créer
            </button>
        </div>
    </form>
</div>
{% endblock %}
