{% extends "base-admin.twig.html" %} {% block content %}

<h1 class="text-center p-5">Créaton d'un bloc</h1>
<form action="admin.php?page=bloc&action=create" method="post" enctype="multipart/form-data" class="row g-4 needs-validation" novalidate>
    {# type #}
    <div class="col-md-4">
        <input type="hidden" name="type" placeholder="Quel type ?" value="{{id}}"
            class="form-control w-75 ms-5 border-black" />
    </div>

    {# texte #}
    <div class="col-md-4">
        <label for="texte_titre" class="form-label mt-4">Titre du bloc:</label>
        <input type="text" name="texte_titre" placeholder="Saisir le texte" class="form-control w-75 ms-5 border-black" />
    </div>

    {# texte #}
    <div class="col-md-4">
        <label for="texte" class="form-label mt-4">Texte :</label>
        <textarea type="texte" name="texte" id="" placeholder="Saisir le texte" class="form-control w-75 ms-5 border-black"></textarea>
    </div>


    {# style #}
    <div class="col-md-4">
        <label for="style" class="form-label mt-4">Style :</label>
        <select id="style" name="style" class="form-select w-75 ms-5 border-black" aria-label="Default select example">
            <option value="corp_de_texte" selected>Corps de texte</option>
            <option value="chapo">Chapô</option>
            <option value="encadre">Encadré</option>
            <option value="exergue_l">Exergue long</option>
            <option value="exergue_c">Exergue court</option>
            <option value="legende">Légende</option>
            <option value="credit_p">credit photo</option>
            <option value="credir_a">credit article</option>
        </select>
    </div>

    {# image #}
    <div class="col-md-4">
        <label for="image">image :<span>(max 200 Ko)</span></label>
        <input type="hidden" name="MAX_FILE_SIZE" value="200000" title="la taille max du fichier" autocomplete="off" />
        <input type="file" id="image" name="image" class="image" title="votre image" autocomplete="off" />
    </div>


    {# texte #}
    <div class="col-md-4">
        <label for="texte_legende" class="form-label mt-4">Légende :</label>
        <input type="text" name="texte_legende" placeholder="Saisir le texte" class="form-control w-75 ms-5 border-black" />
    </div>


    {# texte #}
    <div class="col-md-4">
        <label for="texte_credit" class="form-label mt-4">Crédit :</label>
        <input type="text" name="texte_credit" placeholder="Saisir le texte" class="form-control w-75 ms-5 border-black" />
    </div>


    {# infographie #}
    <div class="col-md-4">
        <label for="video">Infographie :<span>(max 5 Mo)</span></label>
        <input type="hidden" name="MAX_FILE_SIZE" value="5000000" title="la taille max du fichier"
            autocomplete="off" />
        <input type="file" id="infographie" name="audio" class="infographie" title="votre infographie" autocomplete="off" />
    </div>


    {# alt #}
    <div class="col-md-4">
        <label for="alt" class="form-label mt-4">Description de l'image : </label>
        <input type="text" name="alt" placeholder="description de l'image (si type = image)"
            class="form-control w-75 ms-5 border-black" />
    </div>

    {# Article : Pré-sélection automatique #}
        <div class="col-md-6">
            <label for="id_article" class="form-label fw-bold text-secondary">Article :</label>
            <select name="id_article" id="id_article" class="form-select border-secondary" required>
                <option value="" disabled>Choisir un article</option>
                {% for article in listearticle %}
                    <option value="{{ article.id_article }}" 
                        {% if article.id_article == id_article_selectionne %}selected{% endif %}>
                        {{ article.titre }}
                    </option>
                {% endfor %}
            </select>
        </div>

    {# bouton #}
    <div class="d-flex justify-content-center">
        <button type="submit" class="submit border-light-subtle p-2 rounded-2 bg-secondary-subtle w-25 mt-2">
            Créer
        </button>
    </div>
</form>

{% endblock %}