{% extends "form-update/base_form.twig.html" %}

{% block form_update %}

{# image #}
<div class="col-md-6">
    <label for="image" class="form-label fw-bold text-secondary">Image ou infographie:</label>
    {% if bloc.image %}
    <div class="mb-3">
        <img src="upload/{{ bloc.image }}" alt="Image actuelle" class="img-thumbnail" style="max-width: 150px;">
    </div>
    <input type="hidden" name="old-image" value="{{ bloc.image }}" />
    {% endif %}
    <input type="file" name="image" id="image" accept="image/*" class="form-control" />
    <small class="text-muted">Taille maximale : 200 Ko</small>
</div>

{# Audio #}
<div class="col-md-6">
    <label for="audio" class="form-label fw-bold text-secondary">audio:</label>
    {% if bloc.audio %}
    <div class="mb-3">
        <audio>
            <source src="upload/{{ bloc.audio }}" class="img-thumbnail" style="max-width: 150px;"> </audio>
    </div>
    <input type="hidden" name="old-audio" value="{{ bloc.audio }}" />
    {% endif %}
    <input type="file" name="audio" id="audio" accept="audio/*" class="form-control" />
    <small class="text-muted">Taille maximale : 200 Ko</small>
</div>

<!-- Titre -->
<div class="col-md-6">
    <label for="texte_titre" class="form-label fw-bold text-secondary">Titre audio :</label>
    <input type="text" name="texte_titre" value="{{ bloc.texte_titre }}" class="form-control border-secondary" />
</div>


{# Crédit #}
<div class="col-md-6">
    <label for="texte_credit" class="form-label fw-bold text-secondary">Crédit :</label>
    <input type="text" name="texte_credit" id="texte_credit" value="{{ bloc.texte_credit }}"
        placeholder="Saisir le crédit" class="form-control border-secondary" />
</div>

{# Alt (Description) #}
<div class="col-md-6">
    <label for="alt" class="form-label fw-bold text-secondary">Description de l'image :</label>
    <input type="text" name="alt" value="{{ bloc.alt }}" placeholder="Description de l'image"
        class="form-control border-secondary" />
</div>


{% endblock %}