{% extends "form-update/base_form.twig.html" %}

{% block form_update %}
    <!-- Citation -->
    <div class="col-md-6">
      <label for="texte_citation" class="form-label fw-bold">Citation :</label>
      <textarea name="texte_citation" id="texte_citation" placeholder="Saisir la citation"
        class="form-control border-secondary" rows="3">{{ bloc.texte_citation | raw}}</textarea>
    </div>


    <!-- Légende -->
    <div class="col-md-6">
      <label for="texte_legende" class="form-label fw-bold">Auteur de la citation :</label>
      <textarea name="texte_legende" id="texte_legende" placeholder="Saisir la légende"
        class="form-control border-secondary" rows="2">{{bloc.texte_legende | raw}}</textarea>
    </div>

    <!-- Texte -->
    <div class="col-md-6">
      <label for="texte" class="form-label fw-bold">Texte :</label>
      <textarea name="texte" id="texte" placeholder="Saisir le texte" class="form-control border-secondary"
        rows="3">{{ bloc.texte  | raw}}</textarea>
    </div>
    <!-- Inter-titre -->
    <div class="col-md-6">
      <label for="texte_2" class="form-label fw-bold">Inter-titre :</label>
      <textarea name="texte_2" id="texte" placeholder="Saisir le texte" class="form-control border-secondary"
        rows="3">{{ bloc.texte_2  | raw}}</textarea>
    </div>
    <!-- Texte -->
    <div class="col-md-6">
      <label for="texte_1" class="form-label fw-bold">Texte après inter-titre :</label>
      <textarea name="texte_1" id="texte" placeholder="Saisir le texte" class="form-control border-secondary"
        rows="3">{{ bloc.texte_1  | raw}}</textarea>
    </div>

    <!-- Style -->
    <div class="col-md-6">
      <label for="style" class="form-label fw-bold">Style :</label>
      <select name="style" id="style" class="form-select border-secondary" required>
        <option value="corp_de_texte" {% if bloc.style == 'corp_de_texte' %}selected{% endif %}>Corps de texte</option>
        <option value="chapo" {% if bloc.style == 'chapo' %}selected{% endif %}>Chapô</option>
        <option value="encadre" {% if bloc.style == 'encadre' %}selected{% endif %}>Encadré</option>
        <option value="exergue_l" {% if bloc.style == 'exergue_l' %}selected{% endif %}>Exergue long</option>
        <option value="exergue_c" {% if bloc.style == 'exergue_c' %}selected{% endif %}>Exergue court</option>
        <option value="legende" {% if bloc.style == 'legende' %}selected{% endif %}>Légende</option>
        <option value="credit_p" {% if bloc.style == 'credit_p' %}selected{% endif %}>Crédit photo</option>
        <option value="credit_a" {% if bloc.style == 'credit_a' %}selected{% endif %}>Crédit article</option>
      </select>
    </div>


{% endblock %}