{% extends "form-update/base_form.twig.html" %}

{% block form_update %}


<!-- Texte Citation -->
<div class="col-md-6">
  <label for="texte_citation" class="form-label fw-bold">Citation :</label>
  <textarea name="texte_citation" id="texte_citation" placeholder="Saisir la citation"
    class="form-control border-secondary" rows="4" required>{{ bloc.texte_citation | raw}}</textarea>
</div>


<div class="col-md-6">
  <label for="texte_legende" class="form-label fw-bold">Auteur de la citation :</label>
  <textarea name="texte_legende" id="texte_legende" placeholder="Saisir la légende"
    class="form-control border-secondary" rows="2">{{bloc.texte_legende | raw}}</textarea>
</div>


{% endblock %}