{% extends "form-update/base_form.twig.html" %}

{% block form_update %}
        {# Texte #}
        <div class="col-md-6">
            <label for="texte" class="form-label fw-bold text-secondary">Texte :</label>
            <textarea name="texte" id="texte" rows="4" placeholder="Saisir le texte" 
                      class="form-control border-secondary">{{ bloc.texte }}</textarea>
        </div>

        {# Style #}
        <div class="col-md-6">
            <label for="style" class="form-label fw-bold text-secondary">Style :</label>
            <select name="style" id="style" class="form-select border-secondary">
                <option value="corp_de_texte" {% if bloc.style == 'corp_de_texte' %}selected{% endif %}>Corps de texte</option>
                <option value="chapo" {% if bloc.style == 'chapo' %}selected{% endif %}>Chapô</option>
                <option value="encadre" {% if bloc.style == 'encadre' %}selected{% endif %}>Encadré</option>
                <option value="exergue_l" {% if bloc.style == 'exergue_l' %}selected{% endif %}>Exergue long</option>
                <option value="exergue_c" {% if bloc.style == 'exergue_c' %}selected{% endif %}>Exergue court</option>
                <option value="legende" {% if bloc.style == 'legende' %}selected{% endif %}>Légende</option>
                <option value="credit_p" {% if bloc.style == 'credit_p' %}selected{% endif %}>Crédit photo</option>
                <option value="credit_a" {% if bloc.style == 'credit_a' %}selected{% endif %}>Crédit article</option>
            </select>
        </div>

{% endblock %}
