{% extends "form-update/base_form.twig.html" %}

{% block form_update %}
<!-- Texte -->
<div class="col-md-6">
    <label for="texte" class="form-label fw-bold">Texte :</label>
    <textarea name="texte" id="texte" placeholder="Saisir le texte" class="form-control border-secondary"
        rows="3">{{ bloc.texte  | raw}}</textarea>
</div>
<!-- Inter-titre -->
<div class="col-md-6">
    <label for="texte_2" class="form-label fw-bold">Inter-titre :</label>
    <textarea name="texte_2" id="texte" placeholder="Saisir le texte" class="form-control border-secondary"
        rows="3">{{ bloc.texte_2  | raw}}</textarea>
</div>
<!-- Texte -->
<div class="col-md-6">
    <label for="texte_1" class="form-label fw-bold">Texte après inter-titre :</label>
    <textarea name="texte_1" id="texte" placeholder="Saisir le texte" class="form-control border-secondary"
        rows="3">{{ bloc.texte_1  | raw}}</textarea>
</div>

{# Style #}
<div class="col-md-6">
    <label for="style" class="form-label fw-bold text-secondary">Style :</label>
    <select name="style" id="style" class="form-select border-secondary">
        <option value="corp_de_texte" {% if bloc.style == 'corp_de_texte' %}selected{% endif %}>Corps de texte</option>
        <option value="chapo" {% if bloc.style == 'chapo' %}selected{% endif %}>Chapô</option>
        <option value="encadre" {% if bloc.style == 'encadre' %}selected{% endif %}>Encadré</option>
        <option value="exergue_l" {% if bloc.style == 'exergue_l' %}selected{% endif %}>Exergue long</option>
        <option value="exergue_c" {% if bloc.style == 'exergue_c' %}selected{% endif %}>Exergue court</option>
        <option value="legende" {% if bloc.style == 'legende' %}selected{% endif %}>Légende</option>
        <option value="credit_p" {% if bloc.style == 'credit_p' %}selected{% endif %}>Crédit photo</option>
        <option value="credir_a" {% if bloc.style == 'credir_a' %}selected{% endif %}>Crédit article</option>
    </select>
</div>

{# Image #}
<div class="col-md-6">
    <label for="image" class="form-label fw-bold text-secondary">Image ou infographie:</label>
    {% if bloc.image %}
    <div class="mb-3">
        <img src="upload/{{ bloc.image }}" alt="Image actuelle" class="img-thumbnail" style="max-width: 150px;">
    </div>
    <input type="hidden" name="old-image" value="{{ bloc.image }}" />
    {% endif %}
    <input type="file" name="image" id="image" accept="image/*" class="form-control" />
    <small class="text-muted">Taille maximale : 200 Ko</small>
</div>

{# Légende de l'image #}
<div class="col-md-6">
    <label for="texte_legende" class="form-label fw-bold text-secondary">Légende de l'image :</label>
    <input type="text" name="texte_legende" value="{{ bloc.texte_legende }}" placeholder="Saisir la légende"
        class="form-control border-secondary" />
</div>

{# Crédit de l'image #}
<div class="col-md-6">
    <label for="texte_credit" class="form-label fw-bold text-secondary">Crédit :</label>
    <input type="text" name="texte_credit" value="{{ bloc.texte_credit }}" placeholder="Saisir le crédit"
        class="form-control border-secondary" />
</div>

{# Alt (Description) #}
<div class="col-md-6">
    <label for="alt" class="form-label fw-bold text-secondary">Description de l'image :</label>
    <input type="text" name="alt" value="{{ bloc.alt }}" placeholder="Description de l'image"
        class="form-control border-secondary" />
</div>


{% endblock %}