{% extends "form-update/base_form.twig.html" %}

{% block form_update %}


<div class="col-md-6">
    <label for="video" class="form-label fw-bold text-secondary">
        Vidéo <small class="text-muted">(max 200 Mo)</small> :
    </label>
    <input type="file" name="video" accept="video/*" class="form-control border-secondary" required />
</div>

{# image #}
<div class="col-md-6">
    <label for="image" class="form-label fw-bold text-secondary">Image ou infographie:</label>
    {% if bloc.image %}
    <div class="mb-3">
        <img src="upload/{{ bloc.image }}" alt="Image actuelle" class="img-thumbnail" style="max-width: 150px;">
    </div>
    <input type="hidden" name="old-image" value="{{ bloc.image }}" />
    {% endif %}
    <input type="file" name="image" id="image" accept="image/*" class="form-control" />
    <small class="text-muted">Taille maximale : 200 Ko</small>
</div>

{# Alt (Description) #}
<div class="col-md-6">
    <label for="alt" class="form-label fw-bold text-secondary">Description de l'image :</label>
    <input type="text" name="alt" value="{{ bloc.alt }}" placeholder="Description de l'image"
        class="form-control border-secondary" />
</div>



{% endblock %}