{% extends 'base.twig.html' %} {% block css %}
<link rel="stylesheet" href="./CSS/accueil.css" />
{% endblock %} {% block page %}

<body>
    <!-- Barre latérale gauche -->
    <div class="sidebar">
        <div class="round-btn" id="edito-btn">Édito</div>


        {% set chapter_classes = ['chapter1-container', 'chapter2-container',
        'chapter3-container'] %} {% for chapitre in listechapitre %}
        <div class="chapter-container {{ chapter_classes[loop.index0] }}" data-bg="url(upload/{{ chapitre.image }})">
        <div class="rect-bg"></div>
        <img
            src="upload/{{ chapitre.image }}"
            alt="{{ chapitre.alt }}"
            class="circle-img"
        />
        <div class="chapter-title">{{ chapitre.titre }}</div>
        </div>
        {% endfor %}



        <a href="credit.php" class="round-btn">Crédits</a>
    </div>

    <!-- Titre principal -->
    <div class="title">
      <p>Cœurs déter'</p>
      <p class="fs-4"> S'engager dans sa ruralité </p>
        <a href="admin.php?page=chapitre">
      <i class="fa-solid fa-user" style="color: white"></i>
    </a>
    </div>

    <!-- Section pour Chapitre 1 -->
    <div id="chapter1" class="chapter-section">
        <button class="close-chapter">&times;</button>
        <div class="chapter-text">
            <h2>{{listechapitre.0.titre}}</h2>
            <p>
                {{listechapitre.0.chapo | raw}}
            </p>
        </div>
        <div class="chapter-cards">
            {% for article in listechapitre.0.articles %}
            <a href="index.php?page=article&action=read&id={{ article.id_article }}">
                <div class="card">
                <img src="upload/{{ article.image }}" alt="Article 1" />
                <p>{{ article.titre }}</p>
                </div>
            </a>

            {% endfor %}
        </div>
        </div>
    </div>

    <!-- Section pour Chapitre 2 -->
    <div id="chapter2" class="chapter-section" style="background-color: #6e849ed8;">
        <button class="close-chapter">&times;</button>
        <div class="chapter-text">
            <h2>{{listechapitre.1.titre}}</h2>
            <p>{{listechapitre.1.chapo | raw}}</p>
        </div>

        <div class="chapter-cards">
        {% for article in listechapitre.1.articles %}
        <a href="index.php?page=article&action=read&id={{ article.id_article }}">
            <div class="card">
            <img src="upload/{{ article.image }}" alt="{{ article.alt }}" />
            <p>{{ article.titre }}</p>
            </div>
        </a>
        {% endfor %}
        </div>       
    </div>

    <!-- Section pour Chapitre 3 -->
    <div id="chapter3" class="chapter-section">
        <button class="close-chapter">&times;</button>
        <div class="chapter-text">
        <h2>{{listechapitre.2.titre}}</h2>
        <p> {{listechapitre.2.chapo | raw}}</p>
        </div>

        <div class="chapter-cards">
        {% for article in listechapitre.2.articles %}
            <a href="index.php?page=article&action=read&id={{ article.id_article }}" class="card">
              
                <img src="upload/{{ article.image }}" alt="{{ article.alt }}" />
                <p>{{ article.titre }}</p>
                
            </a>
        {% endfor %}
        </div>
    </div>





    <!-- Section Édito -->
    <div id="edito">
        <button id="edito-close-btn">×</button>

        <div id="edito-content">
            <h2>ÉDITO</h2>
            <p>
                Comment les nommer ?  La province ? Trop parisien. Les territoires ? Trop marketé. Les régions ? Trop administratif. Les campagnes ? Trop champêtre. Et pourquoi pas les mondes ruraux ? Au pluriel. Comme autant de nuances.
            </p>
            <p>
                Plus question de parler pour eux. L’heure est à la mobilisation. Les mondes ruraux sont en mouvement. Déterminés à faire porter leurs voix, réclamer des moyens, mener leurs combats à bien. En un mot, élargir le champ des possibles. 
            </p>
            <p>
                Au-delà des slogans de manifestation, des discours politiques et des flyers d’office de tourisme, nous avons donné la parole à celles et ceux qui vivent et travaillent dans les mondes ruraux. À celles et ceux qui veulent faire rimer terroir avec territoire, pour qui le combat prend fin ou au contraire ne fait que commencer. Nous avons arpenté leurs terres, terrains de conflits, de revendications, d'appartenance. Des espaces où l’isolement social et géographique n’empêche pas de faire front commun. Nous sommes allé·es à leur rencontre avec une ambition : donner à lire, à voir, à entendre ce qu’ils ont sur le cœur. 
            </p> 
            <p>
                Voies rapides, routes de montagne, sentiers forestiers… Nous avons parcouru plus de 13 000 kilomètres et traversé 43 départements pour découvrir leur réalité. Leur ruralité.
            </p>
           
            <p><strong> Ismérie Vergne !</strong></p>
        </div>
    </div>

    <!-- JavaScript -->
   <script>
    document.getElementById("edito-btn").addEventListener("click", function () {
        document.getElementById("edito").style.top = "0"; // Slide-down animation
        body.style.backgroundImage = "url(images/fond-acceuil.jpg)";

    });

    document.getElementById("edito").addEventListener("click", function (e) {
        if (e.target === this) {
            this.style.top = "-100%"; // Fermer en remontant
        }

    });

    function openChapterSection(chapterId) {
        // Fermer toutes les sections ouvertes
        document.querySelectorAll(".chapter-section").forEach(section => {
            section.classList.remove("show");
        });
        // Afficher la section spécifique
        document.getElementById(chapterId).classList.add("show");
    }

    // Fonction pour fermer l'édito
    function closeEdito() {
        document.getElementById("edito").style.top = "-100%";

    }

    // Événements pour les chapitres
    document.querySelector(".chapter-container:nth-child(2)").onclick = () => {
        closeEdito(); // Ferme l'édito
        openChapterSection("chapter1");
    };
    document.querySelector(".chapter-container:nth-child(3)").onclick = () => {
        closeEdito(); // Ferme l'édito
        openChapterSection("chapter2");
    };
    document.querySelector(".chapter-container:nth-child(4)").onclick = () => {
        closeEdito(); // Ferme l'édito
        openChapterSection("chapter3");
    };

    document.getElementById("edito-close-btn").addEventListener("click", function () {
        closeEdito(); // Fermer l'Édito
    });

    // Ajouter un événement pour chaque bouton de fermeture des chapitres
    document.querySelectorAll(".close-chapter").forEach(button => {
        button.addEventListener("click", function () {
            // Trouve la section parente et la cache
            const chapterSection = this.closest(".chapter-section");
            chapterSection.classList.remove("show");
        });
    });

    // Sélectionner tous les conteneurs de chapitres
    const chapters = document.querySelectorAll(".chapter-container");
    const body = document.body;

    // Ajouter des événements pour chaque chapitre
    chapters.forEach(chapter => {
        // Changer l'image de fond au survol
        chapter.addEventListener("mouseenter", () => {
            const bgImage = chapter.getAttribute("data-bg");
            body.style.backgroundImage = bgImage;
        });

        // Réinitialiser l'image de fond lorsqu'on quitte le cercle
        chapter.addEventListener("mouseleave", () => {
            body.style.backgroundImage = "url(images/fond-acceuil.jpg)";
        });

        // Fermer l'édito lorsqu'on clique sur un chapitre
        chapter.addEventListener("click", closeEdito);
    });
</script>

</body>

{% endblock %}
