{% extends "base.twig.html" %} {% block content %}

<div class="background-image position-relative">
  <img class="menu" src="images/logo.png" alt="village" />
  <div
    class="container-fluid d-flex justify-content-center align-items-center bottom-3 position-relative"
    style="height: 100%; bottom: 50px"
  >
    <h1 class="text-white">On vit dans une société</h1>
  </div>
</div>
{#
<h1 class="text-center p-5">Accueil</h1>
<h2>Bienvenue au futur site du CUEJ</h2>

<h3>Blocs :</h3>
<p><a href="controleur.php?page=bloc&action=read">Liste des Blocs</a></p>

<h3>Articles :</h3>
<p><a href="controleur.php?page=article&action=read">Liste des Articles</a></p>
#} {% endblock %}
