{% extends 'base.twig' %}

{% block css %}
<link rel="stylesheet" href="css/admin.css">
{% endblock %}

{% block nav %}
<a href="admin.php?page=chapitre">Chapitre</a>
<a href="admin.php?page=article">Article</a>
<a href="admin.php?page=logout">Logout</a>
{% endblock %}

{% block main %}
<h1>Page Admin</h1>
{% endblock %}