<h1>Détails du Bloc</h1>
<p>Type : {{ bloc.type }} / Texte : {{ bloc.texte }} / style : {{ bloc.style }} / src : {{ bloc.src }} / alt :
    {{ bloc.alt }}</p>

<a href="controleur.php?page=bloc&action=modifier&id={{ bloc.id }}">Modifier</a>
<a href="controleur.php?page=bloc&action=delete&id={{ bloc.id }}">Supprimer</a>
<a href="controleur.php?page=bloc&action=read">Retour à la liste</a>


{% if bloc.type == "h1" %}
<h1 class="{{bloc.style}}">{{ bloc.texte }}</h1>
{% elseif bloc.type == "h2" %}
<h2 class="{{bloc.style}}">{{ bloc.texte }}</h2>
{% elseif bloc.type == "h3" %}
<h3 class="{{bloc.style}}">{{ bloc.texte }}</h3>
{% elseif bloc.type == "paragraphe" %}
<p class="{{bloc.style}}">{{ bloc.texte }}</p>
{% elseif bloc.type == "image" %}
<img src="{{ bloc.src }}" alt="{{ bloc.alt }}">
{% else %}
<p>Type de bloc inconnu : {{ bloc.type }}</p>
{% endif %}

