{% extends "base-admin.twig.html" %} {% block content %}
<h1 class="text-center p-5">Liste des Articles</h1>
{% for article in listearticle %}
<h2>{{article.titre}}</h2>
<p>
  <a href="controleur.php?page=article&action=read&id={{ article.id_article }}"
    >Voir</a
  >
  <a
    href="controleur.php?page=article&action=modifier&id={{ article.id_article }}"
    >Modifier</a
  >
  <a
    href="controleur.php?page=article&action=delete&id={{ article.id_article }}"
    >Supprimer</a
  >
</p>
{% endfor %}
<a href="controleur.php?page=article&action=new">Ajouter un article</a>
{% endblock %}
