{% if choix.type == "h1" %}
    <h1 class="">Webdoc</h1>

{% elseif choix.type == "h2" %}
    <h2 class="">Titre chapitre</h2>

{% elseif choix.type == "h3" %}
    <h3 class="">Titre Article</h3>

{% elseif choix.type == "h4" %}
    <h4 class="">Sous-partie</h4>

{% elseif choix.type == "h5" %}
    <h5 class="">Sous-partie</h5>

{% elseif choix.type == "paragraphe" %}
    <p class="">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
        born and I will give you a complete account of the system, and expound the actual teachings of the great
        explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
        itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally
        encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires
        to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and
        pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious
        physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man
        who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no
        resultant pleasure?
    </p>

{% elseif choix.type == "image" %}
    <img src="https://www.rhone.mfr.fr/media/FD%20MFR%20RHONE/Metiers/agriculture.jpg" alt="tracteur">
    
{% elseif choix.type == "citation" %}
    <figure class="text-end">
        <blockquote class="blockquote">
            <p>A well-known quote, contained in a choixkquote element.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Someone famous in <cite title="Source Title">Source Title</cite>
        </figcaption>
    </figure>

{% elseif choix.type == "vidéo" %}
    <video src="" class="object-fit-cover" autoplay></video>

{% elseif choix.type == "carousel" %}

{% elseif choix.type == "audio" %}
    <div class="container">
        <div class="podcast">
            <h3 class="podcast__episode_title">Debugging Tools + Tips</h3>
            <h5 class="podcast__title">
                Syntax.fm
                <i>Episode 152</i>
            </h5>

            <div class="podcast__meta">
                <audio controls width="100%">
                    <source
                        src="https://hwcdn.libsyn.com/p/5/1/8/518b62b2d896549d/Syntax152.mp3?c_id=44542285&cs_id=44542285&expiration=1561491578&hwt=40b42995123424c9086441d814f8a1ba">
                    Your browser does not support the audio tag.
                </audio>
                <a href="#" class="artwork">
                    <img src="https://images.unsplash.com/photo-1490821872962-f2e55097079b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&h=300"
                        alt="">
                </a>
            </div>
        </div>
    </div>


    
{% else %}
    <p>Type de choix inconnu : {{ choix.type }}</p>

{% endif %}
