{% extends "base-admin.twig.html" %} 
{% block content %}

<form
  action="admin.php?page=article&action=update"
  method="post"
  class="row g-4 needs-validation"
  novalidate
>
  <!-- Champ caché pour transmettre l'id_article -->
  <input type="hidden" name="id_article" value="{{ article.id_article }}">

  <div class="col-md-4">
    <label for="titre" class="form-label mt-4">Titre :</label>
    <input
      type="text"
      name="titre"
      placeholder="Titre"
      class="form-control w-75 ms-5 border-black"
      value="{{ article.titre }}"
    />
  </div>

  <div class="col-md-4">
    <label for="chapo" class="form-label mt-4">Chapô : </label>
    <input
      type="text"
      name="chapo"
      placeholder="Saisir le texte"
      class="form-control w-75 ms-5 border-black"
      value="{{ article.chapo }}"
    />
  </div>

  <div class="col-md-4">
    <label for="auteur" class="form-label mt-4">Auteur : </label>
    <input
      type="text"
      name="auteur"
      placeholder="Qui est l'auteur ?"
      class="form-control w-75 ms-5 border-black"
      value="{{ article.auteur }}"
    />
  </div>

  <div class="col-md-4">
    <label for="id_chapitre" class="form-label mt-4">Chapitre : </label>
    <select name="id_chapitre" id="id_chapitre" class="form-control w-75 ms-5 border-black">
      {% for chapitre in listechapitre %}
      <option value="{{ chapitre.id_chapitre }}" 
        {% if chapitre.id_chapitre == article.id_chapitre %}selected{% endif %}>
        {{ chapitre.titre }}
      </option>
      {% endfor %}
    </select>
  </div>

  <div class="d-flex justify-content-center">
    <button
      type="submit"
      class="submit border-light-subtle p-2 rounded-2 bg-secondary-subtle w-25 mt-2"
    >
      Modifier
    </button>
  </div>
</form>

{% endblock %}
